* {
    font-family: "CaskaydiaCove Nerd Font", monospace;
    font-size: 12px;
    color: #D8DEE9; /* Nord4 */
    background: #2E3440; /* Nord0 */
}

#workspaces button {
    background: #3B4252; /* Nord1 */
    color: #D8DEE9; /* Nord4 */
    padding: 5px;
    margin: 2px;
    border-radius: 5px;
}

#clock {
    background: #81A1C1; /* Nord9 */
    color: #2E3440; /* Nord0 */
    padding: 5px;
    border-radius: 5px;
}

#cpu, #memory, #network {
    background: #4C566A; /* Nord3 */
    color: #ECEFF4; /* Nord6 */
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
}

